.footer {
  background-color: #030304;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.footer-container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-section {
  width: 100%;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 4rem; /* Spacing between links */
  flex-wrap: wrap;
}

.connect {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.linksvg {
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
  filter: invert(100%) brightness(100%);
}

.footer-section h3 {
  display: inline;
  margin: 0;
}

.footer-section li {
  margin-bottom: 0; /* Prevent unnecessary spacing between links */
}

.footer-section a {
  display: flex;
  align-items: center;
  color: #cccccc;
  text-decoration: none;
  transition: color 0.3s, text-decoration 0.3s;
}

.footer-section a i {
  margin-right: 0.5rem;
}

/* Hover effects */
.footer-section a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* Mobile layout - Stack links vertically */
@media only screen and (min-width: 300px) and (max-width: 768px) {
  .footer-section ul {
    flex-direction: column; /* Stack vertically */
    gap: 0.5rem;
    align-items: center;
  }

  .footer-section li {
    margin-bottom: 1rem;
  }

  .connect {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
  }
}
