.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #2c2c2c 0%, #121212 100%);
  margin: 20px 10px;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  transition: transform 0.3s;
}

.section:hover {
  transform: scale(1.05);
}

.svg-container {
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
}

.svg-container svg,
.svg-container img {
  width: 100%;
  height: auto;
  filter: invert(100%) brightness(100%);
}

h2 {
  font-size: 2rem;
  margin: 10px 0;
  color: #ff7e5f;
}

p {
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 768px) {
  .section {
    width: 90%;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }
}
