.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to left, #050505 0%, #000000 100%);
  margin: 20px 10px;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  height: 45vh;
  transition: transform 0.3s;
  border: 2px solid #1d1d1d;
}

.section:hover {
  transform: scale(1.05);
}

.svg-container {
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
}

.svg-container svg,
.svg-container img {
  width: 100%;
  height: auto;
  filter: invert(100%) brightness(100%);
}

.section h2 {
  font-size: 2.2rem; /* Base font size */
  margin: 10px 0;
  background: -webkit-linear-gradient(left, #81d3ff, #ff3eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 5s ease infinite;
}

p {
  font-size: 1.7rem; /* Base paragraph font size */
  color: #ffffff;
  text-align: center;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .section {
    padding: 15px;
    width: 90%;
    height: auto; /* Decrease padding */
  }

  h2 {
    font-size: 2rem; /* Decrease heading size */
  }

  p {
    font-size: 1.5rem; /* Decrease paragraph size */
  }
}

@media (max-width: 992px) {
  .section {
    width: 90%;
    height: auto; /* Increase width for smaller screens */
  }

  h2 {
    font-size: 1.8rem; /* Further decrease heading size */
  }

  p {
    font-size: 1.4rem; /* Further decrease paragraph size */
  }
}

@media (max-width: 768px) {
  .section {
    width: 95%; /* Full width on smaller devices */
    height: auto; /* Allow height to adjust based on content */
    margin: 15px; /* Adjust margins for smaller screens */
  }

  .section h2 {
    font-size: 1.6rem; /* Further decrease heading size */
  }

  p {
    font-size: 1.3rem; /* Further decrease paragraph size */
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .svg-container {
    max-width: 80px; /* Further decrease max-width for images on larger mobile devices */
  }
  .section {
    padding: 18px; /* Decrease padding more for mobile */
  }

  .section h2 {
    font-size: 1.4rem; /* Smaller heading size */
  }

  p {
    font-size: 1.2rem; /* Smaller paragraph size */
  }
}

@media only screen and (min-width: 300px) and (max-width: 576px) {
  .svg-container {
    max-width: 60px; /* Further decrease max-width for images on larger mobile devices */
  }
  .section {
    padding: 15px;
    /* margin: 0px; */
  }

  .section h2 {
    font-size: 1.4rem; /* Smaller heading size */
  }

  p {
    font-size: 1rem; /* Smaller paragraph size */
  }
  /* .svg-container svg,
  .svg-container img {
    width: 50%;
    height: auto;
    filter: invert(100%) brightness(100%);
  } */
}
